@import "../styles/_colors.scss";

.innerContainer {
  padding: 20px 20px;
}

.personenContainer {
  background-color: $color-apple;
  color: white;
  line-height: 260%;
  border-radius: 60px 0 0 0;
  width: 100vw;
  height: 600px;
  padding: 0;
  position: absolute;
  top: 200px;
}

.personenInnerContainer {
  margin: 40px 0 30px 0;
  line-height: 1%;
}

.personenScrollBar {
  overflow: auto;
  white-space: nowrap;
  width: 340px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  div {
    border: 1px solid white;
    border-radius: 5px;
    width: 50px;
    margin-right: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 90%;
    }
  }
}

.datumContainer {
  color: $color-greentea;
  background-color: white;
  line-height: 260%;
  width: 100vw;
  height: 500px;
  border-radius: 60px 0 0 0;
  position: relative;
  top: 330px;
}

.datumInnerContainer {
  margin: 40px 0 10px 0;
  line-height: 1%;
}

.form-group {
  padding-top: 20px;
  padding-left: 12%;
}

.tijdContainer {
  background-color: $color-apple;
  color: white;
  width: 100vw;
  height: 400px;
  line-height: 260%;
  position: relative;
  top: 300px;
}

.tijdInnerContainer {
  margin: 40px 0 30px 0;
  line-height: 1%;
}

.tijdScrollBar {
  overflow: auto;
  white-space: nowrap;
  width: 340px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  div {
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

.verderButton {
  margin: 30px auto;
  width: 200px;
  height: 60px;
  background-color: $color-forest;
  border: 1px solid transparent;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    height: 20px;
  }
}
